{% extends 'base.html.twig' %}

{% block title %}New Transaction{% endblock %}

{% block body %}
    <h1>Create new Transaction</h1>

    {{ include('user/transaction/_form.html.twig') }}

    <a href="{{ path('app_user_transaction_index') }}">back to list</a>
{% endblock %}
