{% extends 'base.html.twig' %}

{% block title %}Facturéo - Inscription terminée{% endblock %}

{% block body %}
    <div class="absolute h-screen w-screen blur-[192px]">
        <svg width="1683" height="808" viewBox="0 0 1683 808" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="1568" cy="256" r="115" fill="#2563EB"></circle>
            <circle cx="240" cy="693" r="115" fill="#2563EB"></circle>
            <circle cx="505" cy="593" r="150" fill="#C361FF"></circle>
            <circle cx="150" cy="505" r="150" fill="#C361FF"></circle>
            <circle cx="1303" cy="643" r="150" fill="#C361FF"></circle>
            <circle cx="396" cy="241" r="100" fill="#EE4591"></circle>
            <circle cx="265" cy="230" r="100" fill="#EE4591"></circle>
            <circle cx="755" cy="693" r="100" fill="#EE4591"></circle>
            <circle cx="1527" cy="471" r="100" fill="#EE4591"></circle>
            <circle cx="1234.5" cy="367.5" r="137.5" fill="#B6EDFF"></circle>
            <circle cx="502.5" cy="412.5" r="137.5" fill="#B6EDFF"></circle>
            <circle cx="1467.5" cy="615.5" r="137.5" fill="#B6EDFF"></circle>
            <circle cx="984.5" cy="642.5" r="137.5" fill="#B6EDFF"></circle>
            <circle cx="217.5" cy="137.5" r="137.5" fill="#B6EDFF"></circle>
        </svg>
    </div>
    <div class="relative w-2/3 mx-auto pt-12">
        <a href="{{ path('app_home') }}" class="block w-fit"><img src="{{ asset('assets/svg/logoWithText.svg') }}" class="h-[56px]"></a>

        <div class="mt-20 w-fit mx-auto">
            <svg width="350" height="350" viewBox="0 0 350 350" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_i_607_567)">
                    <path d="M145.617 271.857C140.813 269.762 138.815 266.696 137.371 264.892C124.407 248.699 152.068 200.634 191.56 172.822C233.416 136.377 279.501 123.958 292.466 140.151C294.691 142.93 296.435 146.716 297.161 150.989L321.771 292.578C322.625 309.839 316.028 316.398 312.726 319.602C306.744 325.409 295.11 330.346 282.977 326.074C236.15 308.044 192.283 292.201 145.617 271.857Z" fill="url(#paint0_linear_607_567)"/>
                </g>
                <path d="M145.617 271.857C140.813 269.762 138.815 266.696 137.371 264.892C124.407 248.699 152.068 200.634 191.56 172.822C233.416 136.377 279.501 123.958 292.466 140.151C294.691 142.93 296.435 146.716 297.161 150.989L321.771 292.578C322.625 309.839 316.028 316.398 312.726 319.602C306.744 325.409 295.11 330.346 282.977 326.074C236.15 308.044 192.283 292.201 145.617 271.857Z" fill="url(#paint1_linear_607_567)"/>
                <path d="M145.617 271.857C140.813 269.762 138.815 266.696 137.371 264.892C124.407 248.699 152.068 200.634 191.56 172.822C233.416 136.377 279.501 123.958 292.466 140.151C294.691 142.93 296.435 146.716 297.161 150.989L321.771 292.578C322.625 309.839 316.028 316.398 312.726 319.602C306.744 325.409 295.11 330.346 282.977 326.074C236.15 308.044 192.283 292.201 145.617 271.857Z" fill="url(#paint2_linear_607_567)"/>
                <path d="M145.617 271.857C140.813 269.762 138.815 266.696 137.371 264.892C124.407 248.699 152.068 200.634 191.56 172.822C233.416 136.377 279.501 123.958 292.466 140.151C294.691 142.93 296.435 146.716 297.161 150.989L321.771 292.578C322.625 309.839 316.028 316.398 312.726 319.602C306.744 325.409 295.11 330.346 282.977 326.074C236.15 308.044 192.283 292.201 145.617 271.857Z" fill="url(#paint3_linear_607_567)"/>
                <g filter="url(#filter1_f_607_567)">
                    <ellipse cx="95.9484" cy="37.8899" rx="95.9484" ry="37.8899" transform="matrix(-0.768891 0.63938 0.63938 0.768891 265.036 113.217)" fill="url(#paint4_linear_607_567)"/>
                </g>
                <g filter="url(#filter2_f_607_567)">
                    <ellipse cx="88.9244" cy="31.8867" rx="88.9244" ry="31.8867" transform="matrix(-0.768891 0.63938 0.63938 0.768891 260.67 117.545)" fill="url(#paint5_linear_607_567)"/>
                    <ellipse cx="88.9244" cy="31.8867" rx="88.9244" ry="31.8867" transform="matrix(-0.768891 0.63938 0.63938 0.768891 260.67 117.545)" fill="url(#paint6_radial_607_567)"/>
                    <ellipse cx="88.9244" cy="31.8867" rx="88.9244" ry="31.8867" transform="matrix(-0.768891 0.63938 0.63938 0.768891 260.67 117.545)" fill="url(#paint7_radial_607_567)"/>
                </g>
                <circle cx="13.1592" cy="13.1592" r="13.1592" transform="matrix(-1 0 0 1 199.578 161.841)" fill="url(#paint8_radial_607_567)"/>
                <circle cx="13.1592" cy="13.1592" r="13.1592" transform="matrix(-1 0 0 1 199.578 161.841)" fill="url(#paint9_radial_607_567)"/>
                <circle cx="13.1592" cy="13.1592" r="13.1592" transform="matrix(-1 0 0 1 91.5703 237.378)" fill="url(#paint10_radial_607_567)"/>
                <circle cx="13.1592" cy="13.1592" r="13.1592" transform="matrix(-1 0 0 1 91.5703 237.378)" fill="url(#paint11_radial_607_567)"/>
                <circle cx="13.1592" cy="13.1592" r="13.1592" transform="matrix(-1 0 0 1 91.5703 237.378)" fill="url(#paint12_radial_607_567)"/>
                <circle cx="13.1592" cy="13.1592" r="13.1592" transform="matrix(-1 0 0 1 102.593 63.5742)" fill="url(#paint13_radial_607_567)"/>
                <circle cx="13.1592" cy="13.1592" r="13.1592" transform="matrix(-1 0 0 1 102.593 63.5742)" fill="url(#paint14_radial_607_567)"/>
                <circle cx="13.1592" cy="13.1592" r="13.1592" transform="matrix(-1 0 0 1 253.884 23.6694)" fill="url(#paint15_radial_607_567)"/>
                <circle cx="13.1592" cy="13.1592" r="13.1592" transform="matrix(-1 0 0 1 253.884 23.6694)" fill="url(#paint16_radial_607_567)"/>
                <circle cx="13.1592" cy="13.1592" r="13.1592" transform="matrix(-1 0 0 1 253.884 23.6694)" fill="url(#paint17_radial_607_567)"/>
                <circle cx="13.1592" cy="13.1592" r="13.1592" transform="matrix(-1 0 0 1 309.255 75.5371)" fill="url(#paint18_radial_607_567)"/>
                <circle cx="13.1592" cy="13.1592" r="13.1592" transform="matrix(-1 0 0 1 309.255 75.5371)" fill="url(#paint19_radial_607_567)"/>
                <path d="M175.519 284.476C204.022 282.495 224.013 273.964 256.402 247.204C284.264 224.185 298.097 203.763 302.714 182.938L308.063 213.712C305.877 225.757 296.478 242.59 277.85 259.424C253.486 281.44 229.229 297.021 205.24 296.338C195.367 292.483 185.48 288.552 175.519 284.476Z" fill="url(#paint20_radial_607_567)"/>
                <path d="M235.627 308.032C249.326 308.796 267.852 297.62 287.078 281.641C303.484 267.456 311.577 252.046 313.28 243.73L318.712 274.982C317.369 280.265 313.277 287.446 301.434 299.585C288.191 313.159 274.873 318.441 266.964 319.944C261.353 317.805 255.775 315.687 250.221 313.578C245.34 311.725 240.478 309.879 235.627 308.032Z" fill="url(#paint21_radial_607_567)"/>
                <g filter="url(#filter3_i_607_567)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M44.8098 143.376C84.1613 135.688 107.414 153.716 114.785 161.801C119.058 166.489 126.322 166.825 131.009 162.552C135.696 158.279 136.032 151.015 131.759 146.328C120.331 133.791 89.4089 111.26 40.406 120.833C34.181 122.049 30.1205 128.081 31.3366 134.306C32.5526 140.531 38.5848 144.592 44.8098 143.376Z" fill="url(#paint22_radial_607_567)"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M44.8098 143.376C84.1613 135.688 107.414 153.716 114.785 161.801C119.058 166.489 126.322 166.825 131.009 162.552C135.696 158.279 136.032 151.015 131.759 146.328C120.331 133.791 89.4089 111.26 40.406 120.833C34.181 122.049 30.1205 128.081 31.3366 134.306C32.5526 140.531 38.5848 144.592 44.8098 143.376Z" fill="url(#paint23_radial_607_567)"/>
                </g>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M141.049 22.7752C135.317 23.0432 130.887 27.9075 131.155 33.6398C131.524 41.5321 132.961 54.6798 136.389 68.7236C139.255 80.4622 143.667 93.4822 150.461 104.645C148.818 113.353 148.774 123.629 150.577 135.313C151.453 140.985 156.76 144.873 162.431 143.997C168.103 143.122 171.991 137.815 171.115 132.143C170.712 129.529 170.426 127.081 170.242 124.79C172.258 125.841 174.324 126.666 176.433 127.255C184.67 129.556 192.57 127.961 198.75 123.845C210.49 116.024 215.904 98.9088 206.816 84.9168C198.171 71.6062 180.153 67.9872 166.452 77.4574C164.873 78.5493 163.389 79.7796 162.007 81.1448C159.821 75.6168 158.024 69.7181 156.578 63.7951C153.502 51.1975 152.228 39.3887 151.914 32.6692C151.646 26.9369 146.782 22.5072 141.049 22.7752ZM173.284 100.874C174.861 97.5896 176.735 95.6126 178.269 94.5523C182.555 91.5896 187.267 92.9695 189.388 96.236C191.663 99.7387 190.46 104.397 187.229 106.549C185.922 107.42 184.248 107.861 182.025 107.24C180.014 106.678 176.935 105.046 173.284 100.874Z" fill="url(#paint24_linear_607_567)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M141.049 22.7752C135.317 23.0432 130.887 27.9075 131.155 33.6398C131.524 41.5321 132.961 54.6798 136.389 68.7236C139.255 80.4622 143.667 93.4822 150.461 104.645C148.818 113.353 148.774 123.629 150.577 135.313C151.453 140.985 156.76 144.873 162.431 143.997C168.103 143.122 171.991 137.815 171.115 132.143C170.712 129.529 170.426 127.081 170.242 124.79C172.258 125.841 174.324 126.666 176.433 127.255C184.67 129.556 192.57 127.961 198.75 123.845C210.49 116.024 215.904 98.9088 206.816 84.9168C198.171 71.6062 180.153 67.9872 166.452 77.4574C164.873 78.5493 163.389 79.7796 162.007 81.1448C159.821 75.6168 158.024 69.7181 156.578 63.7951C153.502 51.1975 152.228 39.3887 151.914 32.6692C151.646 26.9369 146.782 22.5072 141.049 22.7752ZM173.284 100.874C174.861 97.5896 176.735 95.6126 178.269 94.5523C182.555 91.5896 187.267 92.9695 189.388 96.236C191.663 99.7387 190.46 104.397 187.229 106.549C185.922 107.42 184.248 107.861 182.025 107.24C180.014 106.678 176.935 105.046 173.284 100.874Z" fill="url(#paint25_radial_607_567)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M141.049 22.7752C135.317 23.0432 130.887 27.9075 131.155 33.6398C131.524 41.5321 132.961 54.6798 136.389 68.7236C139.255 80.4622 143.667 93.4822 150.461 104.645C148.818 113.353 148.774 123.629 150.577 135.313C151.453 140.985 156.76 144.873 162.431 143.997C168.103 143.122 171.991 137.815 171.115 132.143C170.712 129.529 170.426 127.081 170.242 124.79C172.258 125.841 174.324 126.666 176.433 127.255C184.67 129.556 192.57 127.961 198.75 123.845C210.49 116.024 215.904 98.9088 206.816 84.9168C198.171 71.6062 180.153 67.9872 166.452 77.4574C164.873 78.5493 163.389 79.7796 162.007 81.1448C159.821 75.6168 158.024 69.7181 156.578 63.7951C153.502 51.1975 152.228 39.3887 151.914 32.6692C151.646 26.9369 146.782 22.5072 141.049 22.7752ZM173.284 100.874C174.861 97.5896 176.735 95.6126 178.269 94.5523C182.555 91.5896 187.267 92.9695 189.388 96.236C191.663 99.7387 190.46 104.397 187.229 106.549C185.922 107.42 184.248 107.861 182.025 107.24C180.014 106.678 176.935 105.046 173.284 100.874Z" fill="url(#paint26_radial_607_567)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M141.049 22.7752C135.317 23.0432 130.887 27.9075 131.155 33.6398C131.524 41.5321 132.961 54.6798 136.389 68.7236C139.255 80.4622 143.667 93.4822 150.461 104.645C148.818 113.353 148.774 123.629 150.577 135.313C151.453 140.985 156.76 144.873 162.431 143.997C168.103 143.122 171.991 137.815 171.115 132.143C170.712 129.529 170.426 127.081 170.242 124.79C172.258 125.841 174.324 126.666 176.433 127.255C184.67 129.556 192.57 127.961 198.75 123.845C210.49 116.024 215.904 98.9088 206.816 84.9168C198.171 71.6062 180.153 67.9872 166.452 77.4574C164.873 78.5493 163.389 79.7796 162.007 81.1448C159.821 75.6168 158.024 69.7181 156.578 63.7951C153.502 51.1975 152.228 39.3887 151.914 32.6692C151.646 26.9369 146.782 22.5072 141.049 22.7752ZM173.284 100.874C174.861 97.5896 176.735 95.6126 178.269 94.5523C182.555 91.5896 187.267 92.9695 189.388 96.236C191.663 99.7387 190.46 104.397 187.229 106.549C185.922 107.42 184.248 107.861 182.025 107.24C180.014 106.678 176.935 105.046 173.284 100.874Z" fill="url(#paint27_radial_607_567)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M198.608 247.255C206.092 243.117 213.892 238.106 221.738 232.32C209.856 217.592 188.631 198.275 160.957 184.326C115.485 161.404 65.3477 173.845 44.9182 181.944C37.8988 184.727 34.4643 192.673 37.247 199.692C40.0297 206.711 47.9758 210.146 54.9951 207.363C72.5049 200.422 113.451 191.001 148.649 208.743C171.864 220.445 189.125 236.177 198.608 247.255Z" fill="url(#paint28_linear_607_567)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M198.608 247.255C206.092 243.117 213.892 238.106 221.738 232.32C209.856 217.592 188.631 198.275 160.957 184.326C115.485 161.404 65.3477 173.845 44.9182 181.944C37.8988 184.727 34.4643 192.673 37.247 199.692C40.0297 206.711 47.9758 210.146 54.9951 207.363C72.5049 200.422 113.451 191.001 148.649 208.743C171.864 220.445 189.125 236.177 198.608 247.255Z" fill="url(#paint29_radial_607_567)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M198.608 247.255C206.092 243.117 213.892 238.106 221.738 232.32C209.856 217.592 188.631 198.275 160.957 184.326C115.485 161.404 65.3477 173.845 44.9182 181.944C37.8988 184.727 34.4643 192.673 37.247 199.692C40.0297 206.711 47.9758 210.146 54.9951 207.363C72.5049 200.422 113.451 191.001 148.649 208.743C171.864 220.445 189.125 236.177 198.608 247.255Z" fill="url(#paint30_radial_607_567)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M198.608 247.255C206.092 243.117 213.892 238.106 221.738 232.32C209.856 217.592 188.631 198.275 160.957 184.326C115.485 161.404 65.3477 173.845 44.9182 181.944C37.8988 184.727 34.4643 192.673 37.247 199.692C40.0297 206.711 47.9758 210.146 54.9951 207.363C72.5049 200.422 113.451 191.001 148.649 208.743C171.864 220.445 189.125 236.177 198.608 247.255Z" fill="url(#paint31_radial_607_567)"/>
                <g filter="url(#filter4_i_607_567)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M238.526 72.7712C242.198 66.1731 250.523 63.8007 257.121 67.4722C263.719 71.1437 266.091 79.4688 262.42 86.0668C256.876 96.0303 250.049 110.096 249.175 128.207C248.414 143.991 252.131 164.009 267.242 188.022C262.013 194.942 255.699 202.113 248.477 209.235C227.172 178.243 220.725 150.485 221.863 126.889C223.04 102.49 232.278 83.999 238.526 72.7712Z" fill="url(#paint32_radial_607_567)"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M238.526 72.7712C242.198 66.1731 250.523 63.8007 257.121 67.4722C263.719 71.1437 266.091 79.4688 262.42 86.0668C256.876 96.0303 250.049 110.096 249.175 128.207C248.414 143.991 252.131 164.009 267.242 188.022C262.013 194.942 255.699 202.113 248.477 209.235C227.172 178.243 220.725 150.485 221.863 126.889C223.04 102.49 232.278 83.999 238.526 72.7712Z" fill="url(#paint33_radial_607_567)"/>
                </g>
                <path d="M209.398 89.8132C208.726 88.1526 207.877 86.5143 206.84 84.9166C198.195 71.606 180.177 67.9871 166.476 77.4572C164.896 78.5492 163.413 79.7795 162.03 81.1447C161.584 80.0152 161.153 78.8702 160.739 77.7127C160.718 77.7827 160.698 77.8524 160.678 77.9216C163.493 86.787 169.808 96.2772 173.316 100.856C174.892 97.5821 176.761 95.6105 178.292 94.5522C182.578 91.5895 187.29 92.9693 189.412 96.2359C189.494 96.363 189.572 96.4916 189.646 96.6216L209.398 89.8132Z" fill="url(#paint34_radial_607_567)"/>
                <path d="M209.398 89.8132C208.726 88.1526 207.877 86.5143 206.84 84.9166C198.195 71.606 180.177 67.9871 166.476 77.4572C164.896 78.5492 163.413 79.7795 162.03 81.1447C161.584 80.0152 161.153 78.8702 160.739 77.7127C160.718 77.7827 160.698 77.8524 160.678 77.9216C163.493 86.787 169.808 96.2772 173.316 100.856C174.892 97.5821 176.761 95.6105 178.292 94.5522C182.578 91.5895 187.29 92.9693 189.412 96.2359C189.494 96.363 189.572 96.4916 189.646 96.6216L209.398 89.8132Z" fill="url(#paint35_radial_607_567)"/>
                <g filter="url(#filter5_i_607_567)">
                    <path d="M150.482 104.654C148.841 113.36 148.798 123.633 150.601 135.313C151.476 140.984 156.783 144.872 162.455 143.997C168.126 143.122 172.014 137.814 171.139 132.143C170.736 129.533 170.45 127.09 170.266 124.802C159.526 118.059 152.435 109.087 150.482 104.654Z" fill="#44B6FF"/>
                </g>
                <path d="M150.482 104.654C148.841 113.36 148.798 123.633 150.601 135.313C151.476 140.984 156.783 144.872 162.455 143.997C168.126 143.122 172.014 137.814 171.139 132.143C170.736 129.533 170.45 127.09 170.266 124.802C159.526 118.059 152.435 109.087 150.482 104.654Z" fill="url(#paint36_radial_607_567)"/>
                <g filter="url(#filter6_f_607_567)">
                    <path d="M168.987 89.3798C171.892 85.4493 181.207 78.4423 192.913 85.7052C196.84 88.1417 199.151 97.3265 197.357 103.564" stroke="url(#paint37_linear_607_567)" stroke-width="0.3" stroke-linecap="round"/>
                </g>
                <g filter="url(#filter7_f_607_567)">
                    <path d="M137.029 32.9834C137.941 49.5036 145.096 88.4912 166.424 112.28" stroke="url(#paint38_linear_607_567)" stroke-width="0.3" stroke-linecap="round"/>
                </g>
                <defs>
                    <filter id="filter0_i_607_567" x="134.14" y="132.67" width="187.706" height="195.016" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dy="-0.5"/>
                        <feGaussianBlur stdDeviation="0.5"/>
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0.92549 0 0 0 0 0.34902 0 0 0 0 0.384314 0 0 0 1 0"/>
                        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_607_567"/>
                    </filter>
                    <filter id="filter1_f_607_567" x="137.318" y="135.268" width="156.342" height="136.859" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="0.25" result="effect1_foregroundBlur_607_567"/>
                    </filter>
                    <filter id="filter2_f_607_567" x="141.117" y="136.786" width="143.134" height="124.266" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="0.1" result="effect1_foregroundBlur_607_567"/>
                    </filter>
                    <filter id="filter3_i_607_567" x="31.1213" y="118.277" width="103.885" height="47.272" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dx="0.25" dy="-0.25"/>
                        <feGaussianBlur stdDeviation="0.25"/>
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0.721569 0 0 0 0 0.270588 0 0 0 0 0.470588 0 0 0 1 0"/>
                        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_607_567"/>
                    </filter>
                    <filter id="filter4_i_607_567" x="221.738" y="65.7446" width="45.6535" height="143.74" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dx="0.15" dy="0.25"/>
                        <feGaussianBlur stdDeviation="0.5"/>
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0.721569 0 0 0 0 0.184314 0 0 0 0 0.447059 0 0 0 1 0"/>
                        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_607_567"/>
                    </filter>
                    <filter id="filter5_i_607_567" x="149.25" y="104.404" width="22.5118" height="39.7163" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dx="0.5" dy="-0.25"/>
                        <feGaussianBlur stdDeviation="0.325"/>
                        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0.239216 0 0 0 0 0.439216 0 0 0 0 0.768627 0 0 0 1 0"/>
                        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_607_567"/>
                    </filter>
                    <filter id="filter6_f_607_567" x="168.537" y="82.0975" width="29.8867" height="21.9169" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="0.15" result="effect1_foregroundBlur_607_567"/>
                    </filter>
                    <filter id="filter7_f_607_567" x="136.429" y="32.3835" width="30.5945" height="80.4967" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="0.225" result="effect1_foregroundBlur_607_567"/>
                    </filter>
                    <linearGradient id="paint0_linear_607_567" x1="303.826" y1="218.579" x2="215.643" y2="295.141" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#B3843C"/>
                        <stop offset="1" stop-color="#F17A61"/>
                    </linearGradient>
                    <linearGradient id="paint1_linear_607_567" x1="313.571" y1="230.428" x2="287.762" y2="235.669" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#B1853B"/>
                        <stop offset="1" stop-color="#B1853B" stop-opacity="0"/>
                    </linearGradient>
                    <linearGradient id="paint2_linear_607_567" x1="134.14" y1="260.62" x2="177.703" y2="267.798" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F9C26C"/>
                        <stop offset="1" stop-color="#F9C26C" stop-opacity="0"/>
                    </linearGradient>
                    <linearGradient id="paint3_linear_607_567" x1="227.993" y1="135.522" x2="255.975" y2="183.032" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#E6BF69"/>
                        <stop offset="1" stop-color="#E6BF69" stop-opacity="0"/>
                    </linearGradient>
                    <linearGradient id="paint4_linear_607_567" x1="96.2215" y1="72.6709" x2="107.476" y2="-2.58557" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FCCB57"/>
                        <stop offset="1" stop-color="#F5BD55"/>
                    </linearGradient>
                    <linearGradient id="paint5_linear_607_567" x1="7.90905" y1="28.3623" x2="188.158" y2="37.1723" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F3AB2C"/>
                        <stop offset="1" stop-color="#B57F1E"/>
                    </linearGradient>
                    <radialGradient id="paint6_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(44.0703 57.4148) rotate(-109.125) scale(70.8477 19.8436)">
                        <stop offset="0.423414" stop-color="#CA851E"/>
                        <stop offset="1" stop-color="#CA851E" stop-opacity="0"/>
                    </radialGradient>
                    <radialGradient id="paint7_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(118.247 58.4115) rotate(-73.0972) scale(71.1981 41.6943)">
                        <stop stop-color="#BC7F28"/>
                        <stop offset="1" stop-color="#BC7F28" stop-opacity="0"/>
                    </radialGradient>
                    <radialGradient id="paint8_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(18.9697 9.57031) rotate(138.668) scale(18.8903)">
                        <stop stop-color="#5AC0FF"/>
                        <stop offset="1" stop-color="#3279B6"/>
                    </radialGradient>
                    <radialGradient id="paint9_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(15.7481 11.3461) rotate(160.051) scale(18.9699 20.7933)">
                        <stop offset="0.534713" stop-color="#3A619E" stop-opacity="0"/>
                        <stop offset="1" stop-color="#3A619E"/>
                    </radialGradient>
                    <radialGradient id="paint10_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(20.784 7.59826) rotate(134.569) scale(21.6292)">
                        <stop stop-color="#FDD46C"/>
                        <stop offset="1" stop-color="#F09C53"/>
                    </radialGradient>
                    <radialGradient id="paint11_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(15.6095 6.44836) rotate(100.827) scale(21.4247)">
                        <stop offset="0.792052" stop-color="#E76260" stop-opacity="0"/>
                        <stop offset="0.964251" stop-color="#E76260"/>
                    </radialGradient>
                    <radialGradient id="paint12_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(19.4375 15.3305) rotate(-147.558) scale(21.6969 25.551)">
                        <stop offset="0.482355" stop-color="#AA885A" stop-opacity="0"/>
                        <stop offset="0.90682" stop-color="#AA885A"/>
                    </radialGradient>
                    <radialGradient id="paint13_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(22.5827 8.03866) rotate(132.387) scale(22.5326)">
                        <stop stop-color="#FF46AA"/>
                        <stop offset="1" stop-color="#E3189D"/>
                    </radialGradient>
                    <radialGradient id="paint14_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(18.7134 15.5518) rotate(-173.29) scale(20.4772 27.4048)">
                        <stop offset="0.522105" stop-color="#B63173" stop-opacity="0"/>
                        <stop offset="1" stop-color="#B63173"/>
                    </radialGradient>
                    <radialGradient id="paint15_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(21.7816 7.89177) rotate(139.574) scale(20.1379)">
                        <stop stop-color="#FFF46F"/>
                        <stop offset="1" stop-color="#EFB93C"/>
                    </radialGradient>
                    <radialGradient id="paint16_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(18.9011 11.0283) rotate(-178.519) scale(20.9413 19.9388)">
                        <stop offset="0.558644" stop-color="#AA904B" stop-opacity="0"/>
                        <stop offset="0.943632" stop-color="#AA904B"/>
                    </radialGradient>
                    <radialGradient id="paint17_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(16.5375 5.7251) rotate(102.339) scale(22.3923)">
                        <stop offset="0.771901" stop-color="#C47072" stop-opacity="0"/>
                        <stop offset="1" stop-color="#C47072"/>
                    </radialGradient>
                    <radialGradient id="paint18_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(22.5827 8.03866) rotate(132.387) scale(22.5326)">
                        <stop stop-color="#FF46AA"/>
                        <stop offset="1" stop-color="#E3189D"/>
                    </radialGradient>
                    <radialGradient id="paint19_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(18.7134 15.5518) rotate(-173.29) scale(20.4772 27.4048)">
                        <stop offset="0.522105" stop-color="#B63173" stop-opacity="0"/>
                        <stop offset="1" stop-color="#B63173"/>
                    </radialGradient>
                    <radialGradient id="paint20_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(227.264 274.292) rotate(46.7899) scale(46.4265 101.648)">
                        <stop stop-color="#3365FF"/>
                        <stop offset="1" stop-color="#356DB9"/>
                    </radialGradient>
                    <radialGradient id="paint21_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(268.963 306.421) rotate(48.4024) scale(28.6581 72.493)">
                        <stop stop-color="#3365FF"/>
                        <stop offset="1" stop-color="#356DB9"/>
                    </radialGradient>
                    <radialGradient id="paint22_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(48.8457 130.053) rotate(11.7174) scale(47.1246 17.5811)">
                        <stop stop-color="#FF3BA9"/>
                        <stop offset="1" stop-color="#F422A7"/>
                    </radialGradient>
                    <radialGradient id="paint23_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(82.9389 167.651) rotate(-52.6454) scale(48.5888 86.5952)">
                        <stop offset="0.752144" stop-color="#B8306F" stop-opacity="0"/>
                        <stop offset="1" stop-color="#B8306F"/>
                    </radialGradient>
                    <linearGradient id="paint24_linear_607_567" x1="141.506" y1="22.7637" x2="190.527" y2="140.251" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#20B2EE"/>
                        <stop offset="1" stop-color="#2689DA"/>
                    </linearGradient>
                    <radialGradient id="paint25_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(152.266 60.9291) rotate(51.7831) scale(84.882 51.9204)">
                        <stop offset="0.80204" stop-color="#4274D2" stop-opacity="0"/>
                        <stop offset="0.950917" stop-color="#4274D2"/>
                    </radialGradient>
                    <radialGradient id="paint26_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(156.512 51.0988) rotate(167.905) scale(12.2345 41.072)">
                        <stop stop-color="#4D8EC0"/>
                        <stop offset="1" stop-color="#4D8EC0" stop-opacity="0"/>
                    </radialGradient>
                    <radialGradient id="paint27_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(132.244 24.6095) rotate(38.047) scale(14.9739 13.4625)">
                        <stop stop-color="#5ADEFF"/>
                        <stop offset="1" stop-color="#5ADEFF" stop-opacity="0"/>
                    </radialGradient>
                    <linearGradient id="paint28_linear_607_567" x1="191.95" y1="237.288" x2="45.2874" y2="198.853" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#3797E2"/>
                        <stop offset="1" stop-color="#37AEFF"/>
                    </linearGradient>
                    <radialGradient id="paint29_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(137.7 261.27) rotate(-50.1622) scale(87.2814 218.789)">
                        <stop offset="0.622552" stop-color="#526579" stop-opacity="0"/>
                        <stop offset="0.962126" stop-color="#526579"/>
                    </radialGradient>
                    <radialGradient id="paint30_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(88.6795 214.164) rotate(85.6013) scale(29.96 60.2349)">
                        <stop offset="0.396078" stop-color="#6972FF"/>
                        <stop offset="1" stop-color="#6972FF" stop-opacity="0"/>
                    </radialGradient>
                    <radialGradient id="paint31_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(44.2548 188.984) rotate(-111.181) scale(8.21439 6.478)">
                        <stop stop-color="#55BFFF"/>
                        <stop offset="1" stop-color="#55BFFF" stop-opacity="0"/>
                    </radialGradient>
                    <radialGradient id="paint32_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(231.397 70.3967) rotate(80.5771) scale(79.9733 29.9611)">
                        <stop stop-color="#FF3AAA"/>
                        <stop offset="1" stop-color="#FD2F89"/>
                    </radialGradient>
                    <radialGradient id="paint33_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(273.151 152.864) rotate(148.824) scale(52.5925 165.05)">
                        <stop offset="0.803698" stop-color="#DB2C6E" stop-opacity="0"/>
                        <stop offset="1" stop-color="#DB2C6E"/>
                    </radialGradient>
                    <radialGradient id="paint34_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(170.413 104.121) rotate(-60.7702) scale(29.9506 22.3883)">
                        <stop stop-color="#336BAF"/>
                        <stop offset="1" stop-color="#336BAF" stop-opacity="0"/>
                    </radialGradient>
                    <radialGradient id="paint35_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(160.678 81.5174) rotate(-52.3428) scale(20.2903 8.22071)">
                        <stop stop-color="#49A4D4"/>
                        <stop offset="1" stop-color="#49A4D4" stop-opacity="0"/>
                    </radialGradient>
                    <radialGradient id="paint36_radial_607_567" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(151.556 103.735) rotate(85.1502) scale(28.2996 15.75)">
                        <stop stop-color="#4AB5F8"/>
                        <stop offset="1" stop-color="#4AB5F8" stop-opacity="0"/>
                    </radialGradient>
                    <linearGradient id="paint37_linear_607_567" x1="201.287" y1="89.5705" x2="170.867" y2="82.1161" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#4EAFF2"/>
                        <stop offset="1" stop-color="#4EAFF2" stop-opacity="0"/>
                    </linearGradient>
                    <linearGradient id="paint38_linear_607_567" x1="139.422" y1="21.3623" x2="182.146" y2="119.8" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#5BDDFF"/>
                        <stop offset="1" stop-color="#5BDDFF" stop-opacity="0"/>
                    </linearGradient>
                </defs>
            </svg>

            <div class="text-center mt-16">
                <h2 class="text-3xl font-[600] -tracking-[0.96px]">Félicitations !</h2>
                <p class="text-base -tracking-[0.48px] leading-[150%] mt-3">Votre inscription est terminé.</p>
                <p class="text-base -tracking-[0.48px] leading-[150%]">Veuillez confirmer votre email avant de vous connecter.</p>
            </div>

            <a href="{{ path('app_login') }}" class="block text-center cursor-pointer bg-blue-600 hover:bg-blue-700 mt-16 w-[300px] py-2 text-white font-[600] rounded-full px-8 mx-auto">Se connecter</a>
        </div>
    </div>
{% endblock %}

