<footer class="w-2/3 mx-auto pb-16">
    <div class="mt-24 w-fit mx-auto">
        <a href="{{ path('app_home') }}"><img src="{{ asset('assets/svg/logoWithText.svg') }}" alt="Logo with text" class="h-[56px]"></a>
    </div>
    <div class="mt-8 bg-gray-100 w-full h-[2px]">
    </div>
    <div class="mt-8">
        <p class="text-[16px] -tracking-[0.48px] font-[400]">Copyright ©  2023 Facturéo. Tous droits réservés. </p>
    </div>
</footer>