<a href="{{ path({{ this.route }}) }}" class="hover:">
    <div class="flex p-2 w-full space-x-2">
        <p class="px-1">{{ this.icon }}</p>
        <p class="-tracking-[0.48px] leading-[150%] text-base">{{ this.title }}</p>
    </div>
</a>