<footer class="w-2/3 mx-auto pb-16">
    <div class="mt-24 w-fit mx-auto">
        <a href="{{ path('app_home') }}"><img src="{{ asset('assets/svg/logoWithText.svg') }}" alt="Logo with text" class="h-[56px]"></a>
    </div>
    <div class="flex w-fit mx-auto space-x-8 mt-12">
        <a href="#features"
           class="h-fit my-auto underline decoration-transparent hover:decoration-black underline-offset-4 decoration-2 -tracking-[0.48px] font-[400] transition-colors ease-in-out">Fonctionnalités</a>
        <a href="#pricing"
           class="h-fit my-auto underline decoration-transparent hover:decoration-black underline-offset-4 decoration-2 -tracking-[0.48px] font-[400] transition-colors ease-in-out">Tarifs</a>
        <a href="#faq"
           class="h-fit my-auto underline decoration-transparent hover:decoration-black underline-offset-4 decoration-2 -tracking-[0.48px] font-[400] transition-colors ease-in-out">FAQ</a>
        <a href="/contact"
           class="h-fit my-auto underline decoration-transparent hover:decoration-black underline-offset-4 decoration-2 -tracking-[0.48px] font-[400] transition-colors ease-in-out">Contact</a>
    </div>
    <div class="mt-8 bg-gray-100 w-full h-[2px]">
    </div>
    <div class="mt-8">
        <p class="text-[16px] -tracking-[0.48px] font-[400]">Copyright ©  2023 Facturéo. Tous droits réservés. </p>
    </div>
</footer>