<div class="flex justify-between w-2/3 mx-auto pt-8">
    <div class="flex space-x-12">
        <div>
            <a href="/"><img src="{{ asset('assets/svg/logoWithText.svg') }}" alt="logo" class="h-[56px]"></a>
        </div>
        <div class="flex text-[16px] space-x-8 align-middle">
            <a href="#features"
               class="h-fit my-auto underline decoration-transparent hover:decoration-black underline-offset-4 decoration-2 -tracking-[0.48px] font-[400] transition-colors ease-in-out">Fonctionnalités</a>
            <a href="#pricing"
               class="h-fit my-auto underline decoration-transparent hover:decoration-black underline-offset-4 decoration-2 -tracking-[0.48px] font-[400] transition-colors ease-in-out">Tarifs</a>
            <a href="#faq"
               class="h-fit my-auto underline decoration-transparent hover:decoration-black underline-offset-4 decoration-2 -tracking-[0.48px] font-[400] transition-colors ease-in-out">FAQ</a>
            <a href="/contact"
               class="h-fit my-auto underline decoration-transparent hover:decoration-black underline-offset-4 decoration-2 -tracking-[0.48px] font-[400] transition-colors ease-in-out">Contact</a>
        </div>
    </div>
    <div class="flex my-auto space-x-6">
        <a href="{{ path('app_login') }}"
           class="h-fit my-auto underline decoration-transparent hover:decoration-black underline-offset-4 decoration-2 -tracking-[0.48px] font-[400] transition-colors ease-in-out">Se
            connecter</a>
        <a href="#features"
           class="bg-blue-600 hover:bg-blue-700 text-white rounded-full px-6 py-2 -tracking-[0.48px] font-[600] transition-colors ease-in-out">Découvrir</a>
    </div>
</div>