{% extends 'base.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
    <h1>Create new Customer</h1>

    {{ include('user/customer/_form.html.twig') }}

    <a href="{{ path('app_user_customer_index') }}">back to list</a>
{% endblock %}
