<div class="min-h-[650px] rounded-lg border border-gray-200 mt-6 overflow-x-auto">
    <div class="flex bg-gray-100 h-11 rounded-t-lg items-center justify-start">
        <div class="px-6 min-w-16">
            <input type="checkbox"
                   onclick="((source) => {
                       let checkboxes = document.getElementsByClassName('checkbox-all');
                       for (let i = 0; i < checkboxes.length; i++) {
                           let checkbox = checkboxes[i];
                           checkbox.checked = source.checked
                       }
                   }) (this)"
            >
        </div>
        <div class="px-6 min-w-[163px]">
            <p class="text-sm text-slate-700">ID</p>
        </div>
        <div class="px-6 min-w-[205px]">
            <p class="text-sm text-slate-700">Client</p>
        </div>
        <div class="px-6 min-w-[205px]">
            <p class="text-sm text-slate-700">Entreprise</p>
        </div>
        <div class="px-6 min-w-[205px]">
            <p class="text-sm text-slate-700">Type</p>
        </div>
        <div class="px-6 min-w-[180px]">
            <p class="text-sm text-slate-700">État</p>
        </div>
        <div class="px-6 min-w-[208px]">
            <p class="text-sm text-slate-700">Tags</p>
        </div>
    </div>
    {% block content %}

    {% endblock %}
</div>