{% extends 'base.html.twig' %}

{% block title %}Edit Estimate{% endblock %}

{% block body %}
    <h1>Edit Estimate</h1>

    {{ include('admin/estimate/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_estimate_index') }}">back to list</a>

    {{ include('admin/estimate/_delete_form.html.twig') }}
{% endblock %}
