@import url('https://fonts.googleapis.com/css?family=Lexend');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lexend', serif;
}

html {
    scroll-behavior: smooth;
}

textarea {
    resize: none;
}