{% extends 'base.html.twig' %}

{% block title %}Facturéo - Tableau de bord{% endblock %}

{% block body %}
    <div class="flex">
        {{ component('User:Sidebar') }}
        <div class="w-3/4 mx-auto my-6 lg:ml-[300px] pl-16">
            <div class="flex  items-center px-6 py-4 justify-between w-full border-b border-gray-100">
                <div class="flex space-x-2 items-center">
                    <h2 class="text-3xl -tracking-[0.96px] font-[600]">Tableau de bord</h2>
                </div>
            </div>
            <div class="flex">
                <div class="flex h-60 w-[300px] p-6 flex-col items-start gap-2.5 shrink-0 border stroke-1 bg-white rounded-lg m-5">
                    <div class="flex h-10 p-2.5 items-center space-x-2 justify-between w-full">
                        <div class="flex gap-2">
                            <p class="text-base	not-italic font-normal -tracking-[0.48px]">💰</p>
                            <p class="text-base not-italic font-normal leading-6 -tracking-[0.48px]">Total des
                                bénéfices</p>
                        </div>
                        <div class="flex w-6 h-6 px-0.5 justify-center items-center	">
                            <div class="flex items-start gap-0.5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"
                                     fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#0F172A"/>
                                </svg>
                                <div class="flex items-start gap-0.5"></div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"
                                     fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#0F172A"/>
                                </svg>
                                <div class="flex items-start gap-0.5"></div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"
                                     fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#0F172A"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="flex h-24 px-2.5 flex-col justify-center items-start gap-2.5 shrink-0 self-stretch border-b border-solid">
                        <p>120 724 €</p>
                        <div class="flex py-1 px-0 justify-between items-center	self-stretch w-full">
                            <div class="flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <path d="M7 7H17M17 7V17M17 7L8.41421 15.4853" stroke="#16a34a" stroke-width="1.75"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <p class="text-green-600">12,3</p>
                            </div>
                            <p class="text-neutral-500 ">+1,453€ aujourd’hui</p>
                        </div>
                    </div>
                    <div class="flex px-2.5 items-center gap-2.5 self-stretch">
                        <p><small>En savoir plus</small></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M9.21968 3.21967C9.51255 2.92678 9.98745 2.92678 10.2803 3.21967L15.5303 8.46967C15.8232 8.76255 15.8232 9.23745 15.5303 9.53032L10.2803 14.7803C9.98745 15.0732 9.51255 15.0732 9.21968 14.7803C8.9268 14.4874 8.9268 14.0125 9.21968 13.7197L13.1894 9.75H3C2.58579 9.75 2.25 9.41422 2.25 9C2.25 8.58577 2.58579 8.25 3 8.25H13.1894L9.21968 4.28033C8.9268 3.98743 8.9268 3.51256 9.21968 3.21967Z"
                                  fill="#0F172A"/>
                        </svg>
                    </div>
                </div>
                <div class="flex h-60 w-[300px] p-6 flex-col items-start gap-2.5 border stroke-1 bg-white rounded-lg m-5">
                    <div class="flex h-10 p-2.5 items-center shrink-0 self-stretch space-x-2 justify-between">
                        <div class="flex gap-2">
                            <p class="text-base	not-italic font-normal -tracking-[0.48px]">💳</p>
                            <p class="text-base not-italic font-normal leading-6 -tracking-[0.48px]">Total des
                                cotisations</p>
                        </div>
                        <div class="flex w-6 h-6 px-0.5 justify-center items-center	">
                            <div class="flex items-start gap-0.5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"
                                     fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#0F172A"/>
                                </svg>
                                <div class="flex items-start gap-0.5"></div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"
                                     fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#0F172A"/>
                                </svg>
                                <div class="flex items-start gap-0.5"></div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"
                                     fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#0F172A"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="flex h-24 px-2.5 flex-col justify-center items-start gap-2.5 shrink-0 self-stretch border-b border-solid">
                        <p>120 724 €</p>
                        <div class="flex py-1 px-0 justify-between items-center	self-stretch w-full">
                            <div class="flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <path d="M17 7V17M17 17H7M17 17L8.51472 8.41421" stroke="#dc2626"
                                          stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <p class="text-red-600">12,3</p>
                            </div>
                            <p class="text-neutral-500 ">-1,453€ aujourd’hui</p>
                        </div>
                    </div>
                    <div class="flex px-2.5 items-center gap-2.5 self-stretch">
                        <p><small>En savoir plus</small></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M9.21968 3.21967C9.51255 2.92678 9.98745 2.92678 10.2803 3.21967L15.5303 8.46967C15.8232 8.76255 15.8232 9.23745 15.5303 9.53032L10.2803 14.7803C9.98745 15.0732 9.51255 15.0732 9.21968 14.7803C8.9268 14.4874 8.9268 14.0125 9.21968 13.7197L13.1894 9.75H3C2.58579 9.75 2.25 9.41422 2.25 9C2.25 8.58577 2.58579 8.25 3 8.25H13.1894L9.21968 4.28033C8.9268 3.98743 8.9268 3.51256 9.21968 3.21967Z"
                                  fill="#0F172A"/>
                        </svg>
                    </div>
                </div>
                <div class="flex h-60 w-[300px] p-6 flex-col items-start gap-2.5 border stroke-1 bg-white rounded-lg m-5">
                    <div class="flex h-10 p-2.5 items-center shrink-0 self-stretch space-x-2 justify-between">
                        <div class="flex gap-2">
                            <p class="text-base	not-italic font-normal -tracking-[0.48px]">💰</p>
                            <p class="text-base not-italic font-normal leading-6 -tracking-[0.48px]">Total des
                                bénéfices</p>
                        </div>
                        <div class="flex w-6 h-6 px-0.5 justify-center items-center	">
                            <div class="flex items-start gap-0.5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"
                                     fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#0F172A"/>
                                </svg>
                                <div class="flex items-start gap-0.5"></div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"
                                     fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#0F172A"/>
                                </svg>
                                <div class="flex items-start gap-0.5"></div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"
                                     fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#0F172A"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="flex h-24 px-2.5 flex-col justify-center items-start gap-2.5 shrink-0 self-stretch border-b border-solid">
                        <p>120 724 €</p>
                        <div class="flex py-1 px-0 justify-between items-center	self-stretch w-full">
                            <div class="flex">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <path d="M7 7H17M17 7V17M17 7L8.41421 15.4853" stroke="#16a34a" stroke-width="1.75"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <p class="text-green-600">12,3</p>
                            </div>
                            <p class="text-neutral-500 ">+1,453€ aujourd’hui</p>
                        </div>
                    </div>
                    <div class="flex px-2.5 items-center gap-2.5 self-stretch">
                        <p><small>En savoir plus</small></p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M9.21968 3.21967C9.51255 2.92678 9.98745 2.92678 10.2803 3.21967L15.5303 8.46967C15.8232 8.76255 15.8232 9.23745 15.5303 9.53032L10.2803 14.7803C9.98745 15.0732 9.51255 15.0732 9.21968 14.7803C8.9268 14.4874 8.9268 14.0125 9.21968 13.7197L13.1894 9.75H3C2.58579 9.75 2.25 9.41422 2.25 9C2.25 8.58577 2.58579 8.25 3 8.25H13.1894L9.21968 4.28033C8.9268 3.98743 8.9268 3.51256 9.21968 3.21967Z"
                                  fill="#0F172A"/>
                        </svg>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

            <div class="flex 3/4 w">
                <div id="chart"></div>
                <script>
                    var options = {
                        series: [{
                            name: 'Benefices',
                            data: [2.3, 3.1, 4.0, 10.1, 4.0, 3.6, 3.2, 2.3, 1.4, 0.8, 0.5, 0.2]
                        }],
                        chart: {
                            toolbar: {
                                show: false,
                                tools: {
                                    download: false
                                }
                            },
                            height: 350,
                            width: 1000,
                            type: 'bar',
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    position: 'top', // top, center, bottom
                                },
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            formatter: function (val) {
                                return val + "%";
                            },

                            offsetY: -20,
                            style: {
                                fontSize: '12px',
                                colors: ["#304758"]
                            }
                        },

                        xaxis: {
                            categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                            position: 'bottom',
                            axisBorder: {
                                show: false
                            },
                            axisTicks: {
                                show: false
                            },
                            crosshairs: {
                                fill: {
                                    type: 'gradient',
                                    gradient: {
                                        colorFrom: '#D8E3F0',
                                        colorTo: '#BED1E6',
                                        stops: [0, 100],
                                        opacityFrom: 0.4,
                                        opacityTo: 0.5,
                                    }
                                }
                            },
                            tooltip: {
                                enabled: true,
                            }
                        },
                        yaxis: {
                            axisBorder: {
                                show: false
                            },
                            axisTicks: {
                                show: false,
                            },
                            labels: {
                                show: false,
                                formatter: function (val) {
                                    return val + "%";
                                }
                            }

                        },
                        title: {
                            text: '',
                            floating: true,
                            offsetY: 330,
                            align: 'center',
                            style: {
                                color: '#444'
                            }
                        },

                        grid: {
                            show: false,
                        },
                    };

                    var chart = new ApexCharts(document.querySelector("#chart"), options);
                    chart.render();
                </script>
            </div>
        </div>
    </div>
{% endblock %}

