{% extends 'base.html.twig' %}

{% block title %}New Estimate{% endblock %}

{% block body %}
    <h1>Create new Estimate</h1>

    {{ include('user/estimate/_form.html.twig') }}

    <a href="{{ path('app_user_estimate_index') }}">back to list</a>
{% endblock %}
